# Strict null checks
lombok.nonNull.exceptionType = IllegalArgumentException

# Generate @EqualsAndHashCode with call to super
lombok.equalsAndHashCode.callSuper = CALL

# Always generate a toString method
lombok.toString.includeFieldNames = true

# Disable runtime generation of config keys
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value

# Additional configurations
lombok.addLombokGeneratedAnnotation = true
lombok.log.fieldName = LOGGER
lombok.log.apacheCommons.use = true 